
<div class="container-fluid d-flex flex-column p-4 m-4">
  <h1>Login to View your top artists and songs</h1><br /><br /><br />
  <a href='/auth/spotify'><button class="btn spotify-button"><i class="fab fa-spotify"></i> Login with Spotify</button></a>
</div>